<h3>Персоны тра тататата</h3>
<% @users.each do |user| %>
  <p>User      : <%=link_to user.name, user %></p>
  <p>где-то так</p>
  <p>Строка 1</p>
  <p>Строка 4</p>
  <p>Строка 3</p>
  <p>Строка 4</p>
<% end %>
